/*  your css code here. If applicable */
.container {
  text-align: center;
}

#photo-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.photo {
  display: inline-block;
  margin: 10px;
}

.photo img {
  width: 200px;
  height: 200px;
}
